<a href="https://colab.research.google.com/github/uccaoeo/Tutorials/blob/master/DataPreparation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
hello
print('hello')

hello

In [2]:
import pandas as pd
file_url = 'https://github.com/PacktWorkshops/'\
           'The-Data-Science-Workshop/blob/'\
           'master/Chapter10/dataset/'\
           'Online%20Retail.xlsx?raw=true'
df = pd.read_excel(file_url)

In [6]:
df.head()

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

In [11]:
df.sample(n=7, random_state=1)

       InvoiceNo StockCode  ... CustomerID         Country
94801    C544414     22960  ...    13408.0  United Kingdom
210111    555276     48111  ...        NaN  United Kingdom
455946    575656     22952  ...    13319.0  United Kingdom
403542    571636     20674  ...    13509.0  United Kingdom
471951    576657     22556  ...    12720.0         Germany
380570    569823     23298  ...    16895.0  United Kingdom
384867    570185     21090  ...        NaN  United Kingdom

[7 rows x 8 columns]

In [12]:
df['Country'].nunique()

38

In [13]:
df['Country'].unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Austria',
       'Israel', 'Finland', 'Bahrain', 'Greece', 'Hong Kong', 'Singapore',
       'Lebanon', 'United Arab Emirates', 'Saudi Arabia',
       'Czech Republic', 'Canada', 'Unspecified', 'Brazil', 'USA',
       'European Community', 'Malta', 'RSA'], dtype=object)

In [19]:
sum=0
for i in df['Country'].value_counts(dropna=False, normalize=True):  #normalize=True means calculate as ratio, while False means count the number of occurence
  sum += i    #dropna=False means include missing values also.
print(int(sum))

1

In [24]:
df['Country'].value_counts(dropna=False, normalize=False)

United Kingdom          495478
Germany                   9495
France                    8557
EIRE                      8196
Spain                     2533
Netherlands               2371
Belgium                   2069
Switzerland               2002
Portugal                  1519
Australia                 1259
Norway                    1086
Italy                      803
Channel Islands            758
Finland                    695
Cyprus                     622
Sweden                     462
Unspecified                446
Austria                    401
Denmark                    389
Japan                      358
Poland                     341
Israel                     297
USA                        291
Hong Kong                  288
Singapore                  229
Iceland                    182
Canada                     151
Greece                     146
Malta                      127
United Arab Emirates        68
European Community          61
RSA                         58
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              30
Bahrain                     19
Saudi Arabia                10
Name: Country, dtype: int64

In [30]:
import pandas as pd
file_url = 'https://raw.githubusercontent.com/'\
           'PacktWorkshops/The-Data-Science-Workshop/'\
           'master/Chapter10/dataset/ames_iowa_housing.csv'
df1 = pd.read_csv(file_url)
df1.sample(n=5, random_state=5)

        Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
756    757          60       RL  ...        WD         Normal    212000
923    924         120       RL  ...        WD         Normal    193000
1423  1424          80       RL  ...        WD         Alloca    274970
217    218          70       RM  ...        WD         Family    107000
653    654          50       RM  ...        WD         Normal    135000

[5 rows x 81 columns]

In [33]:
df1.dtypes.unique()

array([dtype('int64'), dtype('O'), dtype('float64')], dtype=object)

In [36]:
obj_df =df1.select_dtypes(include='object')
obj_col = obj_df.columns
print(obj_col)

Index(['MSZoning', 'Street', 'Alley', 'LotShape', 'LandContour', 'Utilities',
       'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2',
       'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st',
       'Exterior2nd', 'MasVnrType', 'ExterQual', 'ExterCond', 'Foundation',
       'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2',
       'Heating', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual',
       'Functional', 'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageQual',
       'GarageCond', 'PavedDrive', 'PoolQC', 'Fence', 'MiscFeature',
       'SaleType', 'SaleCondition'],
      dtype='object')

In [61]:
def describe_obj(df, col_name):
  print(f"\nCOLUMN: {col_name}")
  print(f"{df[col_name].nunique()} different values")
  print(f"List of Values:")
  print(df[col_name].value_counts(dropna=False, normalize=True))
describe_obj(df1, 'MSZoning')

COLUMN: MSZoning
5 different values
List of Values:
RL         0.788356
RM         0.149315
FV         0.044521
RH         0.010959
C (all)    0.006849
Name: MSZoning, dtype: float64

In [62]:
for col_name in obj_col:
  des = describe_obj(df1, col_name)

COLUMN: MSZoning
5 different values
List of Values:
RL         0.788356
RM         0.149315
FV         0.044521
RH         0.010959
C (all)    0.006849
Name: MSZoning, dtype: float64

COLUMN: Street
2 different values
List of Values:
Pave    0.99589
Grvl    0.00411
Name: Street, dtype: float64

COLUMN: Alley
2 different values
List of Values:
NaN     0.937671
Grvl    0.034247
Pave    0.028082
Name: Alley, dtype: float64

COLUMN: LotShape
4 different values
List of Values:
Reg    0.633562
IR1    0.331507
IR2    0.028082
IR3    0.006849
Name: LotShape, dtype: float64

COLUMN: LandContour
4 different values
List of Values:
Lvl    0.897945
Bnk    0.043151
HLS    0.034247
Low    0.024658
Name: LandContour, dtype: float64

COLUMN: Utilities
2 different values
List of Values:
AllPub    0.999315
NoSeWa    0.000685
Name: Utilities, dtype: float64

COLUMN: LotConfig
5 different values
List of Values:
Inside     0.720548
Corner     0.180137
CulDSac    0.064384
FR2        0.032192
FR3        0.002740
Name: LotConfig, dtype: float64

COLUMN: LandSlope
3 different values
List of Values:
Gtl    0.946575
Mod    0.044521
Sev    0.008904
Name: LandSlope, dtype: float64

COLUMN: Neighborhood
25 different values
List of Values:
NAmes      0.154110
CollgCr    0.102740
OldTown    0.077397
Edwards    0.068493
Somerst    0.058904
Gilbert    0.054110
NridgHt    0.052740
Sawyer     0.050685
NWAmes     0.050000
SawyerW    0.040411
BrkSide    0.039726
Crawfor    0.034932
Mitchel    0.033562
NoRidge    0.028082
Timber     0.026027
IDOTRR     0.025342
ClearCr    0.019178
SWISU      0.017123
StoneBr    0.017123
MeadowV    0.011644
Blmngtn    0.011644
BrDale     0.010959
Veenker    0.007534
NPkVill    0.006164
Blueste    0.001370
Name: Neighborhood, dtype: float64

COLUMN: Condition1
9 different values
List of Values:
Norm      0.863014
Feedr     0.055479
Artery    0.032877
RRAn      0.017808
PosN      0.013014
RRAe      0.007534
PosA      0.005479
RRNn      0.003425
RRNe      0.001370
Name: Condition1, dtype: float64

COLUMN: Condition2
8 different values
List of Values:
Norm      0.989726
Feedr     0.004110
PosN      0.001370
Artery    0.001370
RRNn      0.001370
PosA      0.000685
RRAn      0.000685
RRAe      0.000685
Name: Condition2, dtype: float64

COLUMN: BldgType
5 different values
List of Values:
1Fam      0.835616
TwnhsE    0.078082
Duplex    0.035616
Twnhs     0.029452
2fmCon    0.021233
Name: BldgType, dtype: float64

COLUMN: HouseStyle
8 different values
List of Values:
1Story    0.497260
2Story    0.304795
1.5Fin    0.105479
SLvl      0.044521
SFoyer    0.025342
1.5Unf    0.009589
2.5Unf    0.007534
2.5Fin    0.005479
Name: HouseStyle, dtype: float64

COLUMN: RoofStyle
6 different values
List of Values:
Gable      0.781507
Hip        0.195890
Flat       0.008904
Gambrel    0.007534
Mansard    0.004795
Shed       0.001370
Name: RoofStyle, dtype: float64

COLUMN: RoofMatl
8 different values
List of Values:
CompShg    0.982192
Tar&Grv    0.007534
WdShngl    0.004110
WdShake    0.003425
Metal      0.000685
Membran    0.000685
Roll       0.000685
ClyTile    0.000685
Name: RoofMatl, dtype: float64

COLUMN: Exterior1st
15 different values
List of Values:
VinylSd    0.352740
HdBoard    0.152055
MetalSd    0.150685
Wd Sdng    0.141096
Plywood    0.073973
CemntBd    0.041781
BrkFace    0.034247
WdShing    0.017808
Stucco     0.017123
AsbShng    0.013699
BrkComm    0.001370
Stone      0.001370
AsphShn    0.000685
CBlock     0.000685
ImStucc    0.000685
Name: Exterior1st, dtype: float64

COLUMN: Exterior2nd
16 different values
List of Values:
VinylSd    0.345205
MetalSd    0.146575
HdBoard    0.141781
Wd Sdng    0.134932
Plywood    0.097260
CmentBd    0.041096
Wd Shng    0.026027
Stucco     0.017808
BrkFace    0.017123
AsbShng    0.013699
ImStucc    0.006849
Brk Cmn    0.004795
Stone      0.003425
AsphShn    0.002055
CBlock     0.000685
Other      0.000685
Name: Exterior2nd, dtype: float64

COLUMN: MasVnrType
4 different values
List of Values:
None       0.591781
BrkFace    0.304795
Stone      0.087671
BrkCmn     0.010274
NaN        0.005479
Name: MasVnrType, dtype: float64

COLUMN: ExterQual
4 different values
List of Values:
TA    0.620548
Gd    0.334247
Ex    0.035616
Fa    0.009589
Name: ExterQual, dtype: float64

COLUMN: ExterCond
5 different values
List of Values:
TA    0.878082
Gd    0.100000
Fa    0.019178
Ex    0.002055
Po    0.000685
Name: ExterCond, dtype: float64

COLUMN: Foundation
6 different values
List of Values:
PConc     0.443151
CBlock    0.434247
BrkTil    0.100000
Slab      0.016438
Stone     0.004110
Wood      0.002055
Name: Foundation, dtype: float64

COLUMN: BsmtQual
4 different values
List of Values:
TA     0.444521
Gd     0.423288
Ex     0.082877
NaN    0.025342
Fa     0.023973
Name: BsmtQual, dtype: float64

COLUMN: BsmtCond
4 different values
List of Values:
TA     0.897945
Gd     0.044521
Fa     0.030822
NaN    0.025342
Po     0.001370
Name: BsmtCond, dtype: float64

COLUMN: BsmtExposure
4 different values
List of Values:
No     0.652740
Av     0.151370
Gd     0.091781
Mn     0.078082
NaN    0.026027
Name: BsmtExposure, dtype: float64

COLUMN: BsmtFinType1
6 different values
List of Values:
Unf    0.294521
GLQ    0.286301
ALQ    0.150685
BLQ    0.101370
Rec    0.091096
LwQ    0.050685
NaN    0.025342
Name: BsmtFinType1, dtype: float64

COLUMN: BsmtFinType2
6 different values
List of Values:
Unf    0.860274
Rec    0.036986
LwQ    0.031507
NaN    0.026027
BLQ    0.022603
ALQ    0.013014
GLQ    0.009589
Name: BsmtFinType2, dtype: float64

COLUMN: Heating
6 different values
List of Values:
GasA     0.978082
GasW     0.012329
Grav     0.004795
Wall     0.002740
OthW     0.001370
Floor    0.000685
Name: Heating, dtype: float64

COLUMN: HeatingQC
5 different values
List of Values:
Ex    0.507534
TA    0.293151
Gd    0.165068
Fa    0.033562
Po    0.000685
Name: HeatingQC, dtype: float64

COLUMN: CentralAir
2 different values
List of Values:
Y    0.934932
N    0.065068
Name: CentralAir, dtype: float64

COLUMN: Electrical
5 different values
List of Values:
SBrkr    0.913699
FuseA    0.064384
FuseF    0.018493
FuseP    0.002055
Mix      0.000685
NaN      0.000685
Name: Electrical, dtype: float64

COLUMN: KitchenQual
4 different values
List of Values:
TA    0.503425
Gd    0.401370
Ex    0.068493
Fa    0.026712
Name: KitchenQual, dtype: float64

COLUMN: Functional
7 different values
List of Values:
Typ     0.931507
Min2    0.023288
Min1    0.021233
Mod     0.010274
Maj1    0.009589
Maj2    0.003425
Sev     0.000685
Name: Functional, dtype: float64

COLUMN: FireplaceQu
5 different values
List of Values:
NaN    0.472603
Gd     0.260274
TA     0.214384
Fa     0.022603
Ex     0.016438
Po     0.013699
Name: FireplaceQu, dtype: float64

COLUMN: GarageType
6 different values
List of Values:
Attchd     0.595890
Detchd     0.265068
BuiltIn    0.060274
NaN        0.055479
Basment    0.013014
CarPort    0.006164
2Types     0.004110
Name: GarageType, dtype: float64

COLUMN: GarageFinish
3 different values
List of Values:
Unf    0.414384
RFn    0.289041
Fin    0.241096
NaN    0.055479
Name: GarageFinish, dtype: float64

COLUMN: GarageQual
5 different values
List of Values:
TA     0.897945
NaN    0.055479
Fa     0.032877
Gd     0.009589
Po     0.002055
Ex     0.002055
Name: GarageQual, dtype: float64

COLUMN: GarageCond
5 different values
List of Values:
TA     0.908219
NaN    0.055479
Fa     0.023973
Gd     0.006164
Po     0.004795
Ex     0.001370
Name: GarageCond, dtype: float64

COLUMN: PavedDrive
3 different values
List of Values:
Y    0.917808
N    0.061644
P    0.020548
Name: PavedDrive, dtype: float64

COLUMN: PoolQC
3 different values
List of Values:
NaN    0.995205
Gd     0.002055
Fa     0.001370
Ex     0.001370
Name: PoolQC, dtype: float64

COLUMN: Fence
4 different values
List of Values:
NaN      0.807534
MnPrv    0.107534
GdPrv    0.040411
GdWo     0.036986
MnWw     0.007534
Name: Fence, dtype: float64

COLUMN: MiscFeature
4 different values
List of Values:
NaN     0.963014
Shed    0.033562
Gar2    0.001370
Othr    0.001370
TenC    0.000685
Name: MiscFeature, dtype: float64

COLUMN: SaleType
9 different values
List of Values:
WD       0.867808
New      0.083562
COD      0.029452
ConLD    0.006164
ConLw    0.003425
ConLI    0.003425
CWD      0.002740
Oth      0.002055
Con      0.001370
Name: SaleType, dtype: float64

COLUMN: SaleCondition
6 different values
List of Values:
Normal     0.820548
Partial    0.085616
Abnorml    0.069178
Family     0.013699
Alloca     0.008219
AdjLand    0.002740
Name: SaleCondition, dtype: float64

In [64]:
df.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [75]:
num_col = df1.select_dtypes(include= 'number')
num_df = num_col.columns

In [86]:
def describe_num(df, col_name):
  print(f"\nCOLUMN: {col_name}")
  print(f"Minimum: {df[col_name].min()}")
  print(f"Maximum: {df[col_name].max()}")
  print(f"Average: {df[col_name].mean()}")
  print(f"Median: {df[col_name].median()}")
  print(f"Standard Deviation: {df[col_name].std()}")
describe_num(df1, 'SalePrice')

COLUMN: SalePrice
Minimum: 34900
Maximum: 755000
Average: 180921.19589041095
Median: 163000.0
Standard Deviation: 79442.50288288663

'def describe_numeric(df, col_name):\n    print(f"\nCOLUMN: {col_name}")\n    print(f"Minimum: {df[col_name].min()}")\n    print(f"Maximum: {df[col_name].max()}")\n    print(f"Average: {df[col_name].mean()}")\n    print(f"Standard Deviation: {df[col_name].std()}")\n    print(f"Median: {df[col_name].median()}")\ndescribe_numeric(df1, \'SalePrice\')'

In [87]:
for col_name in num_df:
  describe_num(df1, col_name)

COLUMN: Id
Minimum: 1
Maximum: 1460
Average: 730.5
Median: 730.5
Standard Deviation: 421.6100093688479

COLUMN: MSSubClass
Minimum: 20
Maximum: 190
Average: 56.897260273972606
Median: 50.0
Standard Deviation: 42.30057099381035

COLUMN: LotFrontage
Minimum: 21.0
Maximum: 313.0
Average: 70.04995836802665
Median: 69.0
Standard Deviation: 24.284751774483183

COLUMN: LotArea
Minimum: 1300
Maximum: 215245
Average: 10516.828082191782
Median: 9478.5
Standard Deviation: 9981.264932379147

COLUMN: OverallQual
Minimum: 1
Maximum: 10
Average: 6.0993150684931505
Median: 6.0
Standard Deviation: 1.3829965467415923

COLUMN: OverallCond
Minimum: 1
Maximum: 9
Average: 5.575342465753424
Median: 5.0
Standard Deviation: 1.1127993367127367

COLUMN: YearBuilt
Minimum: 1872
Maximum: 2010
Average: 1971.267808219178
Median: 1973.0
Standard Deviation: 30.202904042525265

COLUMN: YearRemodAdd
Minimum: 1950
Maximum: 2010
Average: 1984.8657534246574
Median: 1994.0
Standard Deviation: 20.645406807709396

COLUMN: MasVnrArea
Minimum: 0.0
Maximum: 1600.0
Average: 103.68526170798899
Median: 0.0
Standard Deviation: 181.06620658721818

COLUMN: BsmtFinSF1
Minimum: 0
Maximum: 5644
Average: 443.6397260273973
Median: 383.5
Standard Deviation: 456.09809084092456

COLUMN: BsmtFinSF2
Minimum: 0
Maximum: 1474
Average: 46.54931506849315
Median: 0.0
Standard Deviation: 161.31927280654057

COLUMN: BsmtUnfSF
Minimum: 0
Maximum: 2336
Average: 567.2404109589041
Median: 477.5
Standard Deviation: 441.8669552924342

COLUMN: TotalBsmtSF
Minimum: 0
Maximum: 6110
Average: 1057.4294520547944
Median: 991.5
Standard Deviation: 438.7053244594705

COLUMN: 1stFlrSF
Minimum: 334
Maximum: 4692
Average: 1162.626712328767
Median: 1087.0
Standard Deviation: 386.5877380410738

COLUMN: 2ndFlrSF
Minimum: 0
Maximum: 2065
Average: 346.99246575342465
Median: 0.0
Standard Deviation: 436.5284358862591

COLUMN: LowQualFinSF
Minimum: 0
Maximum: 572
Average: 5.844520547945206
Median: 0.0
Standard Deviation: 48.623081433519125

COLUMN: GrLivArea
Minimum: 334
Maximum: 5642
Average: 1515.463698630137
Median: 1464.0
Standard Deviation: 525.4803834232027

COLUMN: BsmtFullBath
Minimum: 0
Maximum: 3
Average: 0.42534246575342466
Median: 0.0
Standard Deviation: 0.5189106060897992

COLUMN: BsmtHalfBath
Minimum: 0
Maximum: 2
Average: 0.057534246575342465
Median: 0.0
Standard Deviation: 0.23875264627920764

COLUMN: FullBath
Minimum: 0
Maximum: 3
Average: 1.5650684931506849
Median: 2.0
Standard Deviation: 0.5509158012954318

COLUMN: HalfBath
Minimum: 0
Maximum: 2
Average: 0.38287671232876713
Median: 0.0
Standard Deviation: 0.5028853810928973

COLUMN: BedroomAbvGr
Minimum: 0
Maximum: 8
Average: 2.8664383561643834
Median: 3.0
Standard Deviation: 0.8157780441442212

COLUMN: KitchenAbvGr
Minimum: 0
Maximum: 3
Average: 1.0465753424657533
Median: 1.0
Standard Deviation: 0.22033819838402977

COLUMN: TotRmsAbvGrd
Minimum: 2
Maximum: 14
Average: 6.517808219178082
Median: 6.0
Standard Deviation: 1.625393290584064

COLUMN: Fireplaces
Minimum: 0
Maximum: 3
Average: 0.613013698630137
Median: 1.0
Standard Deviation: 0.6446663863122344

COLUMN: GarageYrBlt
Minimum: 1900.0
Maximum: 2010.0
Average: 1978.5061638868744
Median: 1980.0
Standard Deviation: 24.689724768590214

COLUMN: GarageCars
Minimum: 0
Maximum: 4
Average: 1.7671232876712328
Median: 2.0
Standard Deviation: 0.7473150101111116

COLUMN: GarageArea
Minimum: 0
Maximum: 1418
Average: 472.9801369863014
Median: 480.0
Standard Deviation: 213.80484145338076

COLUMN: WoodDeckSF
Minimum: 0
Maximum: 857
Average: 94.2445205479452
Median: 0.0
Standard Deviation: 125.33879435172359

COLUMN: OpenPorchSF
Minimum: 0
Maximum: 547
Average: 46.66027397260274
Median: 25.0
Standard Deviation: 66.25602767664974

COLUMN: EnclosedPorch
Minimum: 0
Maximum: 552
Average: 21.954109589041096
Median: 0.0
Standard Deviation: 61.11914860172879

COLUMN: 3SsnPorch
Minimum: 0
Maximum: 508
Average: 3.4095890410958902
Median: 0.0
Standard Deviation: 29.317330556782203

COLUMN: ScreenPorch
Minimum: 0
Maximum: 480
Average: 15.060958904109588
Median: 0.0
Standard Deviation: 55.757415281874486

COLUMN: PoolArea
Minimum: 0
Maximum: 738
Average: 2.758904109589041
Median: 0.0
Standard Deviation: 40.17730694453043

COLUMN: MiscVal
Minimum: 0
Maximum: 15500
Average: 43.489041095890414
Median: 0.0
Standard Deviation: 496.1230244579311

COLUMN: MoSold
Minimum: 1
Maximum: 12
Average: 6.321917808219178
Median: 6.0
Standard Deviation: 2.7036262083595197

COLUMN: YrSold
Minimum: 2006
Maximum: 2010
Average: 2007.8157534246575
Median: 2008.0
Standard Deviation: 1.328095120552104

COLUMN: SalePrice
Minimum: 34900
Maximum: 755000
Average: 180921.19589041095
Median: 163000.0
Standard Deviation: 79442.50288288663